<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.adguard.toggle.daemon</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/justrunme/adguard-dns-toggle/Scripts/daemon.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/adguard-daemon.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/adguard-daemon.err</string>
</dict>
</plist>